.parallax-tilt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 40em;
}

.parallax {
    height: 86vh;
    width: 40em;
    position: fixed;
    top: 12px;
}

.cut {
    height: 70vh;
    width: 25em;
}
