.home {
    background-color: #E3D7BF;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.album {
    height: 90vh; /* Magic here */
}